* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

body, input, button, textarea {
    font: 400 17px Quicksand, sans-serif;
}