/*---------------NAVBAR---------------*/

.navbar {
    width: 100%;
    background-color: #A4161A;
    height: 110px;
}

.navbar .navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
}

.navbar-content .logo {
    margin-left: 10px;
}

.navbar-content .logo img {
    width: 70px;
    cursor: pointer;
    outline-style: none;
}

.navbar-content .bar-options {
    width: 25%;
}

.navbar-content .bar-options .search-bar {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.navbar-content .bar-options .search-bar input{
    border-radius: 6px;
    border-color: transparent;
    outline-style: none;
    opacity: 0.73;
    width: 250px;
}

.navbar-content .bar-options .search-bar img {
    width: 20px;
    margin-left: 8px;
}

.navbar-content .bar-options .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font: 700 17px Quicksand, sans-serif;
}

.navbar-content .bar-options .options p {
    margin-right: 10px;
    cursor: pointer;
}

.navbar-content .bar-options .options button {
    width: 130px;
    border-radius: 20px;
    border-color: transparent;
    height: 34px;
    background: #E5383B 0% 0% no-repeat padding-box;
    color: #ffffff;
    font: 700 17px Quicksand, sans-serif;
    cursor: pointer;
    outline-style: none;
    box-shadow: 0 3px 0 #7d0303
}

.navbar-content .bar-options .options button:hover {
    box-shadow: none;
}

.navbar-content .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    width: 50%;
}

.navbar-content .profile .profile-informations {
    display: flex;
    flex-direction: column;
}

.navbar-content .profile .profile-informations .profile-name {
    margin-bottom: 8px;
    margin-right: 8px;
}

.navbar-content .profile .profile-informations .clefcoins, .all-products .cards .card .product-clefcoins {
    display: flex;
    flex-direction: row;
}

.navbar-content .profile .profile-informations .clefcoins img, .all-products .cards .card .product-clefcoins img {
    width: 25px;
    margin-right: 5px;
}

.navbar-content .profile .profile-image img {
    width: 50px;
}

/*---------------FOOTER---------------*/

.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo img {
    width: 150px;
}

.footer .division-bar {
    margin-top: 30px;
	margin-bottom: 30px;
    border: 0;
	border-top: 2.5px solid #D3D3D3;
	box-sizing: content-box;
  	height: 0;
  	overflow: visible;
    width: 100%;
}

.footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer .social-media img {
    width: 40px;
    cursor: pointer;
}

.footer .social-media .instagram {
    margin-right: 10px;
}

.footer .social-media .facebook {
    margin-left: 10px;
}

.footer .site-name {
    background-color: #ffffff;
    height: 100px;
    margin-bottom: 0;
    border: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}